.DS_Store
**/*.csv
!elm/layout/*.csv
**/*.pdf*
!elm/layout/**/*.pdf
**/*.doc*
**/*.ppt*
**/*.xls*
**/*.env
**/*.yxmd
**/*.bak
**/*.pbix
**/*.SP2
z_out/
db_conn.md
sor/out/
sor/raw/
prd_budg/py/sqlout/
rules/rorrule/var/out/
rules/rbrabrc_export/out/